﻿#header{
    background:url(../images/banner.PNG);
    width:100%;
    height:140px;
    border:medium;
    top:0;
}

h1{
    position:absolute;
    color:white;
    padding-top: 10px;
    -webkit-text-fill-color:white;
    -webkit-text-stroke:1px gray;
    background-color:black;
    width: 100%;
    height:30px;
    bottom:520px;
    opacity:0.9;
  
}

#footer{
    background-color:black;
    color:white;
    position: absolute;
    padding-bottom:0px;
    width: 100%;
    height:40px;
    bottom:0;

}

form{
    
    background-color:gray;
    opacity:0.7;
    width:500px;
    bottom:40px;

}

