﻿#Encabezado {
margin: 0px;
width:120px;
font-family:Arial, Helvetica, sans-serif;
}
			
ul, ol {
list-style:none;
}
			
.menunav > li {
float:left;
}
			
.menunav li a {
background-color:#000;
color:#fff;
text-decoration:none;
padding:10px 12px;
display:block;
}
			
.menunav li a:hover {
background-color:#434343;
}
			
.menunav li ul {
display:none;
position:absolute;
min-width:inherit;
}
			
.menunav li:hover > ul {
display:block;
}
			
.menunav li ul li {
position:relative;
}
			
.menunav li ul li ul {
right:-140px;
top:0px;
}

.menunav {
width:500px; 
margin:0 auto; 
}

#Menufull{
width: 100%;
background-color:black;
position:fixed;
position:absolute;
}

#content{
padding-top:50px;
padding-bottom:50px;
}

#Banner{
background-image: url(../images/bannerventa.jpg);
width:100%;
height: 300px;
}

.opBanner {
    background-color: black;
    position: absolute;
    padding-top: 10px;
    top: 240px;
    left: 1140px;
    height: 60px;
    width: 150px;
    border-radius: 3px;
}
li a{
    color:white;
}

#footer{
    height:50px;
    background-color: black;
    color:white;
    position: fixed;
    bottom:0;
    width:100%;
    
}

/*#content{
    position:absolute;
    top:360px;
    left: 400px;
    border:outset;
    align-items:center;
    width:500px;
}*/




