﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Ferreteria/maestras/Vendedor.master" AutoEventWireup="true" CodeFile="InicioVentas.aspx.cs" Inherits="Ferreteria_forms_vendedor_InicioVentas" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
    </asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <br />
    <table style="width: 100%;">
        <tr>
            <td colspan="3"><center><h3>BIENVENIDO VENDEDOR/A !!!</h3></center></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <center>
                <asp:Button ID="btnVenta" runat="server" Text="Nueva Venta" Width="253px" Height="52px" OnClick="btnVenta_Click" />
                </center>
            </td>
            <td>&nbsp;</td>
        </tr>
        
    </table>
</asp:Content>

